#bookingIntroSubDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.moveButtons {
  position: relative;
  height: 50px;
  border: none;
  padding: 4px;
}
#leftButton {
  right: 12px;
}

#rightButton {
  left: 12px;
}

#courtP {
  font-size: 32px;
}

#bookingP {
  width: 725px;
}

@media (max-width: 750px) {
  #bookingP {
    width: 90%;
  }
}
